.about-section {
    background-color: var(--primary);
    padding: 40px 0;
}

.about-section .container>.row>div {
    margin-top: 60px;
}

.about-section img {
    width: 78%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.about-section table tr {
    height: 30px;
}

.about-section td:first-child, .about-section strong {
    font-weight: bold;
}