.about-section {
    background-color: var(--primary);
    padding-top: 80px;
    padding-bottom: 40px;
}

.about-section .container>.row>div {
    margin-top: 53px;
}

.about-section img {
    width: 78%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.about-section table tr {
    height: 30px;
}

.about-section td:first-child, .about-section strong {
    font-weight: bold;
}

@media (max-width: 767px) {
    .about-section .container>.row>div {
        margin-top: 30px;
    }
}


/* Skills */

.skills-section {
    position: relative;
    width: 100%;
    background-color: var(--primary);
}

.skills-section>.container {
    max-width: 767px;
}