.btn-container {
    width: 50px;
    height: 26px;
    margin-left: 10px;
    background-color: var(--themeBg);
    padding: 3px 5px;
    overflow: hidden;
    position: relative;
    border: 1px solid var(--third);
    box-shadow: 1.5px 1.5px 3px var(--themeColor) inset;
}

.circle {
    position: absolute;
    width: 20px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: rgb(255, 251, 0);
    box-shadow: 2px 2px 3px #fff inset;
    animation-name: sun;
    border: 1px rgba(0, 0, 0, 0.4) solid;
    animation-duration: 0.5s;
    top: 3.5px;
    left: 4px;
}

.fa-moon {
    position: absolute;
    aspect-ratio: 1/1;
    font-size: 1.3rem;
    color: #fff;
    top: 3px;
    animation-name: moon;
    animation-duration: 0.5s;
    right: 4.5px;
}

@keyframes sun {
    0% {
        left: 25px;
    }
    100% {
        left: 4px;
    }
}

@keyframes moon {
    0% {
        right: 28px;
    } 100% {
        right: 4.5px;
    }
}