.imgBg {
    background-image: url(../../assests/img/portfolio-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 510px;
    margin: 0 auto;
    width: 100%;
}

.heroContainer {
    padding-top: 100px;
}

.imgBg .container img {
    width: 100%;
    aspect-ratio: 11/8.57;
}

@media (max-width: 600px) {
    .desktop span {
        font-size: 0.8rem;
        line-height: 3px;
    }
}

@media (max-width: 1200px) {
    .imgBg {
        height: auto;
        width: 100%;
        aspect-ratio: 7/2.7;
    }
}