@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;800&family=Roboto:wght@400;500;700&display=swap');

:root {
  --primary: #003140;
  --themeBg: #131313;
  --third: aqua;
  --themeColor: #FFFFFF;
}

/* theme */
.themeColor {
  color: var(--themeColor) !important;
}
.themeBg {
  background-color: var(--themeBg);
}

[data-theme="dark"] {
  --themeBg: #FFFFFF;
  --themeColor: #131313;
  --third: #00B2DF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', 'Roboto', sans-serif;
}

.container {
  max-width: 1080px;
}

body {
  margin: 0;
}

.colorP {
  color: var(--third) !important;
}

.mainBg {
  background-color: var(--primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.back-filter {
  background: rgba(249, 249, 251, 0.09) !important;
  box-shadow: 0 6px 16px rgba(0,0,0,.1);
  backdrop-filter: blur(28px) !important;
}
