.logo>h3 {
    font-weight: 800;
}

.nav-link {
    font-weight: bolder;
}

.nav a, .nav a>h3 {
    color: var(--third);
}

.mobile-nav {
    display: flex !important;
    height: 70vh;
    flex-direction: column;
    justify-content: center;
}

.mobile-nav li {
    display: block;
    height: 60px;
}

.nav-item.active, .nav-item:hover {
    &:after {
        content: "";
        display: block;
        height: 3px;
        border-radius: 5px;
        background-color: var(--third);
        margin: 0 3px;
    }
}

.nav-item.active a, .nav-item a:hover {
    color: var(--third);
}

.back-filter2 {
  background: rgba(0, 0, 0, 0.7) !important;
  box-shadow: 0 6px 16px rgba(0,0,0,.1);
  backdrop-filter: blur(10px) !important;
}